@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #11100F;
  min-height: 200vh;
}

header{
  display: flex;
  background-color: #1B1A19;
  padding: 10px;
  border-bottom: 1px rgb(194, 194, 194) solid;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.icon{
  filter: invert(1);
  cursor: pointer;
}

.app-name{
  display: inline-block;
  color: white;
  font-family: roboto;
  font-weight: 500;
  margin-left: 15px;
  cursor: pointer;
}

.app-name:hover{
  text-decoration: underline;
}

nav{
  background-color: #252423;
  width: 300px;
  height: calc(100vh);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0 ;
  display: flex;
  flex-direction: column;
  padding: 150px 0 0 0;
}

.list-of-lists > li{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  cursor: pointer;
  padding-left: 30px;
  height: 45px;
}

.list-of-lists > li:hover{
  background-color: #3B3A39;
}

.list{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: transparent;
  border: none;
}

hr{
  width: 250px;
  margin: 10px 25px;
  border: 0;
  border-top: 1px rgb(117, 117, 117) solid;
}

.list-icon{
  filter: invert(1);
}

.hamburger-menu{
  position: absolute;
  top: 80px;
  left: 30px;
}

.line{
  height: 2px;
  width: 25px;
  background-color: white;
  margin: 5px 0;
}

.active{
  background-color: #3B3A39;
}

main{
  display: block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 100;
  padding: 80px 50px 0 350px;

}

.invert{
  filter: invert(1);
}

:target{
  background-color: #3B3A39;
}

.date{
  color: gray;
  font-size: 14px;
  margin-top: 5px;
}

.add-new{
  background-color: transparent;
  font-size: 1rem;
  color: white;
  padding: 10px;
  margin: 20px;
  border: none;
  width: 100%;
}

.add-new:focus{
  outline: none;
}

.add-new:focus::placeholder{
  color: white;
}

.tasks{
  list-style: none;
}

.fi{
  position: relative;
  top: 2px;
  left: 5px;
}

.task{
  background-color: #3B3A39;
  display: flex;
  height: 50px;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
}

.task:hover{
  background-color: #6d6d6d;
}

form > .task:hover{
  background-color: #3B3A39;
}

.add{
  background-color: transparent;
  color: white;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  border: 1px white solid;
  cursor: pointer;
  margin-left: 925px;
}

.add:hover{
  color: black;
  background-color: white;
}

.tick-box{
  height: 15px;
  width: 15px;
  margin: 0 15px 0 10px;
  z-index: 5;
  opacity: 0;
}

.lab{
  display: block;
  width: 17px;
  height: 17px;
  background-color: transparent;
  position: absolute;
  border: 1px black solid;
  border-radius: 50%;
  margin-left: 10px;
  color: transparent;
}

.tick-box:checked + .lab{
  background-color: #1B1A19;
  color: white;
}

.tick-box:checked ~ .lab > .mark{
  opacity: 1;
}

.tick-box:checked ~ span{
  text-decoration: line-through;
}

.mark{
  opacity: 0;
  height: 5px;
  width: 10px;
  margin: 4px 0 0 3px;
  transform: rotate(-45deg);
  border-left: 2px white solid;
  border-bottom: 2px white solid;
}